$fas_lupa:#636363;
$li-ul_hover_color:#ffff;
$title-text_header:#ffff;
$title-text_font:'Open Sans';
$text-litle-bottom:'Open Sans';
$text-litle-bottom-color:#ffff;
$text-h2-sec-too:#ffff;
$rounded_rectangle_bac:#ffff;
$rounded_rectangle_color: #d54c63;
$buttonheader_bac:#8824cd;
$buttonheader_col:#ffff;
$a_li_color:#ffffff;
$title-hand-litle_color:#3a4d60;
$text-nam_four_color:#ffff;
$text-nam_four_font:'Open Sans';
$bnt_nam_four_bc:#8824cd;
$bnt_nam_four_col:#ffff;
$a_li_font:'Open Sans';
$title_five_color:#ffff;
$title_five_bor:#ffff;
$text_five_p:#ffff;
$text_men_color:#ffff;
$text-hand-p_color:#3a4d60;
$text_hand_wotsh_color:#3a4d60;
$email_seven_font:'Open Sans';
$email_seven_color:#ffff;
$nam_seven_bac:#e7526b;
$title_seven_color:#ffff;
$text_seven:#fff;
$text_eight_color:#ffff;
$text_eight_font:'Open Sans';
$a_color:#ffff;
$title-hand-big_color:#3a4d60;
$text-suggest_color: #a87bb7;
$show-button: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
$nam_oun_background:#2e3b4e;
$text-title-lit_color:white;
$text_seven_font:'Open Sans';
$title-hand-litle_font:'Open Sans';
$text-title-lit_font:'Open Sans';
$text-title-big_color:#ffff;
$text-title-big_font:'Open Sans';
$text-h2-sec-too_font:'Open Sans';
$text-sec-too-p_font:'Open Sans';
$title-hand-big-font:'Open Sans';
$text_hand_wotsh_font:'Open Sans';
$text_too_hand_wotsh_color:#3a4d60;
$title_hand_wotsh:#3a4d60;
$nam_eight_bac: #2e3b4e;