.nam_eight{
  height: 400px;
  background: $nam_eight_bac;
  .text_eight{
    width: 75%;
    font-size: 15px;
    color: $text_eight_color;
    font-family: $text_eight_font;
    padding:40px 0 0 170px;
  }
}

  @media screen and (max-width: 841px){
    .nam_eight{
      height: 400px;
      background: $nam_eight_bac;
      .text_eight{
        width: 75%;
        font-size: 15px;
        color: $text_eight_color;
        font-family: $text_eight_font;
        margin: 0 auto;
        text-align: center;
        padding: 50px 0 0 0;
      }
    }
}