  * {box-sizing: border-box;}
  *{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    padding: 0;
  }
  header {
    height: 700px;
    background: url(".../../../src/img/Layer_25.png");
    background-repeat: no-repeat;
    background-size: cover;
    .menu {
      width: 95%;
      height: 70px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      .logo-header {
        width: 16%;
        height: 60px;
        line-height: 50px;
      }
      ul.link {
        width: 24%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        display: flex;
        list-style: none;
        .a-li {
          color: $a_li_color;
          font-family: $a_li_font;
          font-size: 12px;
          text-decoration: none;
        }
        .li-ul {
          line-height: 50px;
          height: 60px;
        }
        .li-ul:hover {
          border-bottom: 3px solid $li-ul_hover_color;
        }
      }
    }
    .fom {
      width: 15%;
      position: absolute;
      z-index: 3;
      top: 4px;
      left: 1100px;
      padding: 0;

      .inp_header {
        width:100%;
        height: 50px;
        padding-left: 16px;
        border-radius: 50px;
        position: relative;
        border: none;
        z-index: 1;
      }
      .fas {
        border: none;
        background: none;
        position: absolute;
        font-size: 16px;
        color: $fas_lupa;
        z-index: 2;
        top: 16px;
        left: 160px;
      }
    }
    .title-text p {
      width: 35%;
      text-align: right;
      color: $title-text_header;
      font-family: $title-text_font;
      font-size: 40px;
      line-height: 70px;
      margin: 200px 0 0 100px;
    }
    .butt_header_block {
      width: 35%;
      margin: 30px 0 0 100px;
      .buttonheader {
        width: 50%;
        display: block;
        height: 40px;
        box-shadow: $show-button;
        border-radius: 30px;
        background-color: $buttonheader_bac;
        border: none;
        color: $buttonheader_col;
        font-weight: 500;
        margin: 0 0 0 230px;
      }
      .text-litle-bottom {
        display: inline-block;
        width: 50%;
        color: $text-litle-bottom-color;
        font-family: $text-litle-bottom;
        font-size: 10px;
       justify-content: end;
        margin: 10px 0px  0 230px;

        text-align: center;
      }
    }

  }

  @media screen and (max-width: 1300px) {
    header {
      .menu {
        width: 95%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        .logo-header {
          width: 16%;
          height: 60px;
          line-height: 50px;
        }
        ul.link {
          width: 24%;
          margin: 0;
          padding: 0;
          justify-content: space-between;
          display: flex;
          list-style: none;
          .a-li {
            color: $a_li_color;
            font-family: $a_li_font;
            font-size: 12px;
            text-decoration: none;
          }
          .li-ul {
            line-height: 50px;
            height: 60px;
          }
          .li-ul:hover {
            border-bottom: 3px solid $li-ul_hover_color;
          }
        }
      }
      .title-text p {
        width: 35%;
        text-align: center;
        color: $title-text_header;
        font-family: $title-text_font;
        font-size: 40px;
        line-height: 70px;
        margin: 200px 0 0 100px;

      }

      .butt_header_block {
        width: 35%;

        margin: 30px 0 0 100px;
        .buttonheader {
          width: 50%;
          display: block;
          height: 40px;
          box-shadow: $show-button;
          border-radius: 30px;
          background-color: $buttonheader_bac;
          border: none;
          color: $buttonheader_col;
          font-weight: 500;
          margin: 0 auto;
        }
        .text-litle-bottom {
          width: 100%;
          color: $text-litle-bottom-color;
          font-family: $text-litle-bottom;
          font-size: 10px;
          margin: 0 auto;
          text-align: center;
        }
      }
      .fom {
        width: 20%;
        position: absolute;
        z-index: 3;
        top: 124px;
        left: 500px;
        .inp_header {
          width:100%;
          height: 50px;
          padding-left: 16px;
          border-radius: 50px;
          position: relative;
          border: none;
          z-index: 1;
        }
        .fas {
          border: none;
          background: none;
          position: absolute;
          font-size: 16px;
          color: $fas_lupa;
          z-index: 2;
          top: 16px;
          left: 160px;
        }
      }
    }
  }
    @media screen and (max-width: 1171px) {
      header {
        .menu {
          width: 95%;
          height: 70px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0;
          .logo-header {
            width: 26%;
            height: 60px;
            line-height: 50px;
          }
          ul.link {
            width: 54%;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            display: flex;
            list-style: none;
            .a-li {
              color: $a_li_color;
              font-family: $a_li_font;
              font-size: 12px;
              text-decoration: none;
            }
            .li-ul {
              line-height: 50px;
              height: 60px;
            }
            .li-ul:hover {
              border-bottom: 3px solid $li-ul_hover_color;
            }
          }
        }
        .title-text p {
          width: 50%;
          text-align: center;
          color: $title-text_header;
          font-family: $title-text_font;
          font-size: 40px;
          line-height: 70px;
          margin: 300px auto 0 0;
        }
        .butt_header_block {
          width: 50%;
          margin: 10px auto 0 0;
          .buttonheader {
            width: 50%;
            display: block;
            height: 40px;
            box-shadow: $show-button;
            border-radius: 30px;
            background-color: $buttonheader_bac;
            border: none;
            color: $buttonheader_col;
            font-weight: 500;
            margin: 0 auto;
          }
          .text-litle-bottom {
            width: 100%;
            color: $text-litle-bottom-color;
            font-family: $text-litle-bottom;
            font-size: 10px;
            margin: 0 auto;
            text-align: center;
          }
        }
        .fom {
          width: 20%;
          position: absolute;
          z-index: 3;
          top: 124px;
          left: 500px;
          .inp_header {
            width:100%;
            height: 50px;
            padding-left: 16px;
            border-radius: 50px;
            position: relative;
            border: none;
            z-index: 1;
          }
          .fas {
            border: none;
            background: none;
            position: absolute;
            font-size: 16px;
            color: $fas_lupa;
            z-index: 2;
            top: 16px;
            left: 170px;
          }
        }
      }
    }
  @media screen and (max-width: 1100px) {
    header {
      .fom {
        width: 20%;
        position: absolute;
        z-index: 3;
        top: 124px;
        left: 500px;

        .inp_header {
          width: 100%;
          height: 50px;
          padding-left: 16px;
          border-radius: 50px;
          position: relative;
          border: none;
          z-index: 1;
        }

        .fas {
          border: none;
          background: none;
          position: absolute;
          font-size: 16px;
          color: $fas_lupa;
          z-index: 2;
          top: 16px;
          left: 160px;
        }
      }
    }
  }
    @media screen and (max-width: 950px) {
      header {
        .title-text p {
          width: 50%;
          text-align: center;
          color: $title-text_header;
          font-family: $title-text_font;
          font-size: 40px;
          line-height: 70px;
          margin: 300px auto 0 0;
        }
        .butt_header_block {
          width: 50%;
          margin: 10px auto 0 0;
          .buttonheader {
            width: 50%;
            display: block;
            height: 40px;
            box-shadow: $show-button;
            border-radius: 30px;
            background-color: $buttonheader_bac;
            border: none;
            color: $buttonheader_col;
            font-weight: 500;
            margin: 0 auto;
          }
          .text-litle-bottom {
            width: 100%;
            color: $text-litle-bottom-color;
            font-family: $text-litle-bottom;
            font-size: 10px;
            margin: 0 auto;
            text-align: center;
          }
        }
        .fom {
          width: 25%;
          position: absolute;
          z-index: 3;
          top: 124px;
          left: 400px;
          .inp_header {
            width:100%;
            height: 50px;
            padding-left: 16px;
            border-radius: 50px;
            position: relative;
            border: none;
            z-index: 1;
          }
          .fas {
            border: none;
            background: none;
            position: absolute;
            font-size: 16px;
            color: $fas_lupa;
            z-index: 2;
            top: 16px;
            left: 170px;
          }
        }
      }
    }
    @media screen and (max-width: 770px) {
      header {
        .menu {
          width: 95%;
          height: 70px;
         display: inline-block;
          align-items: center;
          padding: 0;
          margin: 0 auto;
          .logo-header {
            width: 50%;
            text-align: center;
            height: 60px;
            line-height: 50px;
            margin: 0 auto;
          }
          ul.link {
            width: 54%;
            margin: 0 auto;
            padding: 0;
            justify-content: space-between;
            display: flex;
            list-style: none;
            .a-li {
              color: $a_li_color;
              font-family: $a_li_font;
              font-size: 12px;
              text-decoration: none;
            }
            .li-ul {
              line-height: 50px;
              height: 60px;
            }
            .li-ul:hover {
              border-bottom: 3px solid $li-ul_hover_color;
            }
          }
        }
        .title-text p {
          width: 50%;
          text-align: center;
          color: $title-text_header;
          font-family: $title-text_font;
          font-size: 40px;
          line-height: 70px;
          margin: 200px auto 0;
        }
        .butt_header_block {
          width: 50%;
          margin: 10px auto 0;
          .buttonheader {
            width: 50%;
            display: block;
            height: 40px;
            box-shadow: $show-button;
            border-radius: 30px;
            background-color: $buttonheader_bac;
            border: none;
            color: $buttonheader_col;
            font-weight: 500;
            margin: 0 auto;
          }
          .text-litle-bottom {
            width: 100%;
            color: $text-litle-bottom-color;
            font-family: $text-litle-bottom;
            font-size: 10px;
            margin: 0 auto;
            text-align: center;
          }
        }
        .fom {
          width: 25%;
          position: absolute;
          z-index: 3;
          top: 124px;
          left: 270px;
          .inp_header {
            width:100%;
            height: 50px;
            padding-left: 16px;
            border-radius: 50px;
            position: relative;
            border: none;
            z-index: 1;
          }
          .fas {
            border: none;
            background: none;
            position: absolute;
            font-size: 16px;
            color: $fas_lupa;
            z-index: 2;
            top: 16px;
            left: 150px;
          }
        }
      }
    }
@media screen and (max-width: 700px){
  header{
    .fom {
      width: 40%;
      position: absolute;
      z-index: 3;
      top: 124px;
      left: 200px;
      .inp_header {
        width:100%;
        height: 50px;
        padding-left: 16px;
        border-radius: 50px;
        position: relative;
        border: none;
        z-index: 1;
      }
      .fas {
        border: none;
        background: none;
        position: absolute;
        font-size: 16px;
        color: $fas_lupa;
        z-index: 2;
        top: 16px;
        left: 170px;
      }
    }
  }
  }
@media screen and (max-width: 550px){
  header{
    .menu{
      .link{
        width: 90%;
      }
    }
    .title-text p {
      width: 80%;
      text-align: center;
      color: $title-text_header;
      font-family: $title-text_font;
      font-size: 40px;
      line-height: 70px;
      margin: 200px auto 0;
    }
    .butt_header_block {
      width: 80%;
      height: 70px;
      margin: 10px auto 0;
      .buttonheader {
        width: 50%;
        display: block;
        height: 40px;
        box-shadow: $show-button;
        border-radius: 30px;
        background-color: $buttonheader_bac;
        border: none;
        color: $buttonheader_col;
        font-weight: 500;
        margin: 0 auto;
      }
      .text-litle-bottom {
        width: 100%;
        color: $text-litle-bottom-color;
        font-family: $text-litle-bottom;
        font-size: 10px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .fom {
      width: 50%;
      position: absolute;
      z-index: 3;
      top: 124px;
      left: 120px;
      .inp_header {
        width:100%;
        height: 50px;
        padding-left: 16px;
        border-radius: 50px;
        position: relative;
        border: none;
        z-index: 1;
      }
      .fas {
        border: none;
        background: none;
        position: absolute;
        font-size: 16px;
        color: $fas_lupa;
        z-index: 2;
        top: 16px;
        left: 220px;
      }
    }
  }
}
  @media screen and (max-width: 480px) {
    header {
      .menu {
        .logo-header {
          width: 90%;
        }
          ul.link {
            width: 94%;
            margin: 0 auto;
            padding: 0;
            justify-content: space-between;
            display: flex;
            list-style: none;
          }
        }
        .title-text p {
          width: 80%;
          font-size: 25px;
        }
        .butt_header_block {
          .buttonheader {
            width: 60%;
            display: block;
            height: 60px;
          }
        }
        .fom {
          width: 50%;
          position: absolute;
          z-index: 3;
          top: 124px;
          left: 100px;
          .inp_header {
            width: 100%;
            height: 50px;
            padding-left: 16px;
            border-radius: 50px;
            position: relative;
            border: none;
            z-index: 1;
          }
          .fas {
            border: none;
            background: none;
            position: absolute;
            font-size: 16px;
            color: $fas_lupa;
            z-index: 2;
            top: 16px;
            left: 170px;
          }
        }
      }
  }
  @media screen and (max-width: 380px) {
    header {
      .fom {
        width: 60%;
        position: absolute;
        z-index: 3;
        top: 124px;
        left: 70px;
        .inp_header {
          width: 100%;
          height: 50px;
          padding-left: 16px;
          border-radius: 50px;
          position: relative;
          border: none;
          z-index: 1;
        }
        .fas {
          border: none;
          background: none;
          position: absolute;
          font-size: 16px;
          color: $fas_lupa;
          z-index: 2;
          top: 16px;
          left: 150px;
        }
      }
    }
  }
















