.nam_six{
  display: flex;
  justify-content: space-between;
  img{
    max-height: 700px;
    width: 45%;
    background-repeat: no-repeat;
    background-size: cover;
}
  .sss{
    width: 33%;
    margin: 100px 40px 0 120px;
    .title_hand_wotsh{
      font-size: 14px;
      font-family: $title-hand-big-font sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      margin:  0;
      color: $title_hand_wotsh;
    }
    .text_hand_wotsh{
      font-family: $text_hand_wotsh_font;
      font-size: 16px;
      line-height: 31px;
      color: $text_hand_wotsh_color;
    }
    .text_too_hand_wotsh{
      font-size:13px;
      font-family: $title-hand-big-font sans-serif;
      color: $text_too_hand_wotsh_color;
      line-height: 26px;
    }
  }
}
@media screen and (max-width:1000px) {
  .nam_six{
    display: flex;
    justify-content: space-between;
    img{
      max-height: 700px;
      width: 45%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sss{
      width: 33%;
      margin: 60px 40px 0 120px;
      .title_hand_wotsh{
        font-size: 14px;
        font-family: $title-hand-big-font sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        margin:  0;
        color: $title_hand_wotsh;
      }
      .text_hand_wotsh{
        font-family: $text_hand_wotsh_font;
        font-size: 16px;
        line-height: 31px;
        color: $text_hand_wotsh_color;
      }
      .text_too_hand_wotsh{
        font-size:13px;
        font-family: $title-hand-big-font sans-serif;
        color: $text_too_hand_wotsh_color;
        line-height: 26px;
      }
    }
  }
}
@media screen and (max-width: 879px){
  .nam_six{
    display: inline-block;
    justify-content: space-between;
    img{
      width: 100%;
      max-height: 700px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .sss{
      width: 70%;
      margin: 60px auto 60px;
      .title_hand_wotsh{
        font-size: 14px;
        font-family: $title-hand-big-font sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        margin:  0;
        color: $title_hand_wotsh;
      }
      .text_hand_wotsh{
        font-family: $text_hand_wotsh_font;
        font-size: 16px;
        line-height: 31px;
        color: $text_hand_wotsh_color;
      }
      .text_too_hand_wotsh{
        font-size:13px;
        font-family: $title-hand-big-font sans-serif;
        color: $text_too_hand_wotsh_color;
        line-height: 26px;
      }
    }
  }
}

