  .nam_oun {
    background: $nam_oun_background;
    .four_block {
      width: 51%;
      margin: 0 auto;
      padding: 60px 0 90px 0;
      .fantastic_heading {
        width: 99%;
        display: flex;
        margin: 0 auto;
        padding: 50px  0 0 0;
        justify-content: space-between;
        .block-text-fantastic {
           align-items: start;
           width: 48%;
          .text-title-big {
            color: $text-title-lit_color;
            font-family: $text-title-lit_font;
            font-size: 15px;
            font-weight: 700;
            line-height: 26.04px;
            text-transform: uppercase;
          }
          .text-title-lit {
            color: $text-title-big_color;
            font-family: $text-title-big_font sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 26.04px;
          }
        }
      }
    }
  }
  .xx{
    width: 150px;
    height: 79px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100;
    position:relative;
    z-index: 3;
   top: 42px;
    left: 46%;
  }
  @media screen and (max-width:1000px) {
    .nam_oun {
      .four_block {
        width: 90%;
        margin: 0 auto;
        padding: 60px 0 90px 0;
        text-align: center;
        .fantastic_heading {
          width: 99%;
          display: flex;
          margin: 0 auto;
          padding: 50px  0 0 0;
          justify-content: space-between;
          .block-text-fantastic {
            align-items: start;
            width: 48%;
            .text-title-big {
              color: $text-title-lit_color;
              font-family: $text-title-lit_font;
              font-size: 15px;
              font-weight: 700;
              line-height: 26.04px;
              text-transform: uppercase;
            }
            .text-title-lit {
              color: $text-title-big_color;
              font-family: $text-title-big_font sans-serif;
              font-size: 13px;
              font-weight: 400;
              line-height: 26.04px;
            }
          }
        }
      }
    }
    .xx{
      width: 150px;
      height: 79px;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 100;
      position:relative;
      z-index: 3;
      top: 42px;
      left: 43%;
    }
  }
  @media screen and (max-width: 717px){
    .nam_oun {
      .four_block {
        width: 80%;
        margin: 0 auto;
        padding: 60px 0 90px 0;
        text-align: center;
        .fantastic_heading {
          padding: 0;
          display: inline-block;
          .block-text-fantastic {
            margin: 0 auto 53px;
            width: 60%;
          }
        }
      }
    }
    .xx{
      width: 150px;
      height: 79px;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 100;
      position:relative;
      z-index: 3;
      top: 42px;
      left: 39%;
    }
  }
  @media screen and (max-width: 400px){
    .xx{
      width: 150px;
      height: 79px;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 100;
      position:relative;
      z-index: 3;
      top: 42px;
      left: 35%;
    }
  }

