.nam_five{
  background: url(".../../../src/img/Layer_27.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 700px;
    .darknet_bacr{
      width: 100%;
      height: 500px;
      margin: 0;
      background: url(".../../../src/img/Layer_28.png");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
      top:207px;
    }
  .text_five{
    width: 30%;
    position: relative;
    z-index: 2;
    top:-120px;
    left: 200px;
    .title_five{
      width: 40%;
      height: 50px;
      border-radius: 50px 50px 50px 50px;
      font-size: 16px;
      color:$title_five_color;
      border: 2px solid $title_five_bor;
      p{
        text-align: center;
      line-height: 45px;
      }
    }
    .text_five_p{
      font-size: 25px;
      color:$text_five_p;
      margin: 15px 0 20px 0;
      font-family: $title-hand-big-font ;
    }
    .foto_men_fotos_men{
      display: flex;
      width: 80%;
      align-items: center;
      justify-content: space-between;
      .text_men p{
        margin: 0;
        color:$text_men_color;
       font-family:  $text-title-lit_font;
      }
    }
  }
}
@media screen and (max-width: 1234px){

  .nam_five{
    .text_five{
      width: 30%;
      position: relative;
      z-index: 2;
      top:-120px;
      left: 100px;
      .text_five_p{
        font-size: 25px;
        color:$text_five_p;
        margin: 15px 0 20px 0;
        font-family: $title-hand-big-font ;
      }
      .foto_men_fotos_men{
        display: inline-block;
        width: 100%;
        text-align: center;
        .text_men p{
          font-size: 14px;
          margin: 10px 0 0 0;
          color:$text_men_color;
          font-family:  $text-title-lit_font;
        }
      }
    }
  }
}
@media screen and (max-width: 870px){
  .nam_five{
    .text_five{
      width: 40%;
      position: relative;
      z-index: 2;
      top:-120px;
      left: 70px;
      .title_five{
        width: 50%;
        height: 50px;
        border-radius: 50px 50px 50px 50px;
        font-size: 14px;
        color:$title_five_color;
        border: 2px solid $title_five_bor;
        p{
          text-align: center;
          line-height: 45px;
        }
      }
      .text_five_p{
        font-size: 20px;
        color:$text_five_p;
        margin: 15px 0 20px 0;
        font-family: $title-hand-big-font ;
      }
      .foto_men_fotos_men{
        display: inline-block;
        width: 100%;
        align-items: center;

        .text_men p{
          margin: 0;
          font-size: 15px;
          color:$text_men_color;
          font-family:  $text-title-lit_font;
        }
      }
    }
  }
}

@media screen and (max-width: 460px){
  .nam_five{
    .text_five{
      width: 70%;
      position: relative;
      z-index: 2;
      top:-120px;
      left: 70px;
      .title_five{
        width: 40%;
        height: 50px;
        border-radius: 50px 50px 50px 50px;
        font-size: 14px;
        color:$title_five_color;
        border: 2px solid $title_five_bor;
       margin: 0 auto;
        p{
          text-align: center;
          line-height: 45px;
        }
      }
      .text_five_p{
        text-align: center;
        width: 70%;
        font-size: 15px;
        color:$text_five_p;
        margin: 15px auto 0 ;
        font-family: $title-hand-big-font ;
      }
      .foto_men_fotos_men{
        display: inline-block;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .foto_men{
          margin: 10px 0 10px 0;
        }
        .text_men p{
          margin: 0;
          color:$text_men_color;
          font-family:  $text-title-lit_font;
        }
      }
    }
  }
}





