.nam_too{
  height: 564px;
  background-color: $nam_seven_bac;
  .dd{
    height: 564px;
    background: url(".../../../src/img/Layer_29.png");
    position:relative ;
    .title-section-too{
      width: 50%;
      margin: 0 auto;
      padding: 100px 0 0 0;
      text-align: center;
      .text-h2-sec-too{
        color:$text-h2-sec-too;
        font-family:$text-h2-sec-too_font sans-serif;
        font-size: 35px;
        font-weight: 300;
        line-height: 60.05px;
      }
      .text-sec-too-p{
        font-size: 14px;
        width: 65%;
        margin: 0 auto;
        color: $text-title-big_color;
        font-family:$text-sec-too-p_font sans-serif;
        font-weight: 400;
        line-height: 26px;
      }
      .rounded_rectangle{
        width: 50%;
        height: 50px;
        background:$rounded_rectangle_bac;
        border: none;
        border-radius: 50px 50px 50px 50px;
        margin: 30px 0 0 0;
        color:$rounded_rectangle_color;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 550px){
  .nam_too {
    .dd {
      .title-section-too {
        width: 80%;
        margin: 0 auto;
        padding: 100px 0 0 0;
        text-align: center;
      }
    }
  }}