.nam_four{
  background: url(".../../../src/img/Layer_12.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
height: 550px;
}
.bagrou_bottom-sec-four {
  background: url(".../../../src/img/Rectangle_7.png");
  background-repeat: no-repeat;
  background-size: cover;
 height: 380px;
  position: relative;
  z-index: 1;
  top: 170px;

  .text-nam_four {
    text-align: center;
    width: 50%;
    margin: 0 auto ;
    padding: 55px 0 0 0;
    color: $text-nam_four_color;
    .suggest_title {
      font-family: $text-nam_four_font;
      font-size: 40px;
    }
    .text-suggest {
        font-size: 16px;
        color:$text-suggest_color;
        font-family: $text-nam_four_font;
        font-weight: 400;
        line-height: 33px;
      }
        .bnt_nam_four{
          width:35%;
          height: 50px;
          border: none;
          box-shadow: $show-button;
          border-radius: 30px;
          background-color:$bnt_nam_four_bc;
          color: $bnt_nam_four_col;
        }
    .text_bottom_four{
      font-size: 10px;
      margin: 8px 0 0 0;
      font-family:$text-nam_four_font;
    }
  }
}
@media screen and (max-width: 1260px) {
  .bagrou_bottom-sec-four {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
  }
}
@media screen and (max-width: 985px) {
  .bagrou_bottom-sec-four {
    .text-nam_four {
      text-align: center;
      width: 60%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      color: $text-nam_four_color;
      .suggest_title {
        font-family: $text-nam_four_font;
        font-size: 40px;
      }
    }
  }
}
@media screen and (max-width: 670px){
  .bagrou_bottom-sec-four {
    .text-nam_four {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      color: $text-nam_four_color;
      .suggest_title {
        font-family: $text-nam_four_font;
        font-size: 40px;
      }
    }
  }
}
@media screen and (max-width: 490px){
  .nam_four{

  }
  .bagrou_bottom-sec-four {
    .text-nam_four {
      text-align: center;
      width: 90%;
      margin: 0 auto ;
      padding: 25px 0 0 0;
      color: $text-nam_four_color;
      .suggest_title {
        font-family: $text-nam_four_font;
        font-size: 30px;
      }
      .text-suggest {
        font-size: 14px;
        color:$text-suggest_color;
        font-family: $text-nam_four_font;
        font-weight: 400;
        line-height: 30px;
      }
      .bnt_nam_four{
        width:65%;
        height: 50px;
        border: none;
        box-shadow: $show-button;
        border-radius: 30px;
        background-color:$bnt_nam_four_bc;
        color: $bnt_nam_four_col;
      }
      .text_bottom_four{
        font-size: 10px;
        margin: 8px 0 0 0;
        font-family:$text-nam_four_font;
      }
    }
  }

}

