.nam_three {
display: flex;
   img{
     max-height: 500px;
     width: 45%;
     background-repeat: no-repeat;
     background-size: cover;
  }
  .text_hand{
    width: 40%;
    margin:100px auto 0 ;
  .title-hand-big {
    font-size: 14px;
    font-family: $title-hand-big-font sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: $title-hand-big_color;
  }
    .title-hand-litle{
      color: $title-hand-litle_color;
      font-family: $title-hand-litle_font;
      font-size: 16px;
      line-height: 31px;
    }
    .text-hand-p{
      font-size:13px;
      font-family: $title-hand-big-font sans-serif;
      color: $text-hand-p_color;
      line-height: 26px;
    }
  }
}
@media screen and (max-width:1000px) {
  .nam_three {
    display: flex;
    img{
      max-height: 500px;
      width: 45%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .text_hand{
      width: 40%;
      margin:50px auto 0 ;
      .title-hand-big {
        font-size: 14px;
        font-family: $title-hand-big-font sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        color: $title-hand-big_color;
      }
      .title-hand-litle{
        color: $title-hand-litle_color;
        font-family: $title-hand-litle_font;
        font-size: 16px;
        line-height: 31px;
      }
      .text-hand-p{
        font-size:13px;
        font-family: $title-hand-big-font sans-serif;
        color: $text-hand-p_color;
        line-height: 26px;
        margin: 0;
      }
    }
  }
}
@media screen and (max-width: 815px){
  .nam_three {
    display: inline-block;
    img{
      max-height: 500px;
    width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .text_hand{
      width: 60%;
      margin:50px auto 0 ;
      .text-hand-p{
        font-size:13px;
        font-family: $title-hand-big-font sans-serif;
        color: $text-hand-p_color;
        line-height: 26px;
        margin: 0 0 30px 0;
      }
    }
  }
}

