.nam_seven{
  height: 509px;
  background:$nam_seven_bac;
  .block_seven{
    width: 40%;
    padding: 100px 0 0 180px;
    .title_seven{
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      color: $title_seven_color;
    }
    .text_seven{
      font-size: 13px;
      line-height: 26px;
      font-family: $text_seven_font;
      color: $text_seven;
    }
    .email_seven{
      font-family:$email_seven_font;
      line-height: 26px;
      text-decoration: underline;
      color: $email_seven_color;
      a{
        color: $a_color;
      }
    }
  }
}
@media screen and (max-width: 850px){
  .nam_seven{
    .block_seven{
      width: 60%;
     margin:0 auto ;
      padding: 60px 0 0 0;
      text-align: center;
      .title_seven{
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        color: $title_seven_color;
      }
      .text_seven{
        font-size: 13px;
        line-height: 26px;
        font-family: $text_seven_font;
        color: $text_seven;
      }
      .email_seven{
        font-family:$email_seven_font;
        line-height: 26px;
        text-decoration: underline;
        color: $email_seven_color;
        a{
          color: $a_color;
        }
      }
    }
  }
}